<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">DjangoBursa</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Main<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="student_list.html">Students</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="starter-template">
        <h1 class="person-title">Persianova Olena</h1>
        <img class="person-smile" src="../static/images/smile2.jpg" alt="smile">
        <a class="btn btn-primary btn-lg" href="#" role="button">Студент о себе</a>
        <p class="student-card__caption">Student's card</p>
        <div class="student-card">
            <table class="student-table">
                <tr class="student-item">
                    <td class="student-item__td">Suname</td>
                    <td class="student-item__td">Persianova</td>
                </tr>
                <tr class="student-item">
                    <td class="student-item__td">Name</td>
                    <td class="student-item__td">Olena</td>
                </tr>
                <tr class="student-item">
                    <td class="student-item__td">Patronymic</td>
                    <td class="student-item__td">Yuriivna</td>
                </tr>
                <tr class="student-item">
                    <td class="student-item__td">Rating</td>
                    <td class="student-item__td">20</td>
                </tr>
                <tr class="student-item">
                    <td class="student-item__td">Average Grade</td>
                    <td class="student-item__td">99.9</td>
                </tr>
                <tr class="student-item">
                    <td class="student-item__td">Package</td>
                    <td class="student-item__td">Standard</td>
                </tr>
                <tr class="student-item">
                    <td class="student-item__td">Birth Date</td>
                    <td class="student-item__td">11/02/1989</td>
                </tr>
                <tr class="student-item">
                    <td class="student-item__td">Address</td>
                    <td class="student-item__td">Украина, г.Харьков, ул.Межлаука, д.8, кв.3</td>
                </tr>
                <tr class="student-item">
                    <td class="student-item__td">Post</td>
                    <td class="student-item__td">61010</td>
                </tr>
                <tr class="student-item">
                    <td class="student-item__td">Skype</td>
                    <td class="student-item__td">olena.persianova</td>
                </tr>
            </table>
            <p class="student-card__caption">Performance</p>
            <div class="student-performance">
                <table class="student-performance__tb">
                    <tr>
                        <th class="performance-th">Course</th>
                        <th class="performance-th">Week</th>
                        <th class="performance-th">Control Type</th>
                        <th class="performance-th">Grade</th>
                    </tr>
                    <tr>
                        <td class="performance-td">PY101 Введение в Python</td>
                        <td class="performance-td">Week 1</td>
                        <td class="performance-td">Tests</td>
                        <td class="performance-td">99%</td>
                    </tr>
                    <tr>
                        <td class="performance-td"></td>
                        <td class="performance-td"></td>
                        <td class="performance-td">Problem Task № 1</td>
                        <td class="performance-td">100%</td>
                    </tr>
                    <tr>
                        <td class="performance-td"></td>
                        <td class="performance-td"></td>
                        <td class="performance-td">Problem Task № 2</td>
                        <td class="performance-td">100%</td>
                    </tr>
                    <tr>
                        <td class="performance-td"></td>
                        <td class="performance-td">Week 2</td>
                        <td class="performance-td">Tests</td>
                        <td class="performance-td">100%</td>
                    </tr>
                    <tr>
                        <td class="performance-td"></td>
                        <td class="performance-td"></td>
                        <td class="performance-td">Problem Task № 1</td>
                        <td class="performance-td">100%</td>
                    </tr>
                </table>
            </div>
        </div>
        <p class="lead"></p>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>