<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">DjangoBursa</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Main<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contacts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Students</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="starter-template">
        <h1 class="title">Студенты курса PyBursa</h1>
        <p class="lead student-course">Ниже представлен список студентов, выпуск - апрель 2015.</p>
        <table class="student_list-table">
            <tr class="student_list-title">
                <th class="student_list__th">No</th>
                <th class="student_list__th">Surname</th>
                <th class="student_list__th">Name</th>
                <th class="student_list__th">Address</th>
                <th class="student_list__th">Skype</th>
            </tr>
            <tbody>
                <tr class="student_list-item">
                    <td class="student-no student_list__td"><a href="student_detail.html">1</a></td>
                    <td class="student_list__td">Persianova</td>
                    <td class="student_list__td">Olena</td>
                    <td class="student_list__td">Украина, г.Харьков, ул.Иванова, д.36, кв.3</td>
                    <td class="student_list__td">olena.persianova</td>
                </tr>
                <tr class="student_list-item">
                    <td class="student-no student_list__td"><a href="student_detail.html">2</a></td>
                    <td class="student_list__td">Shulga</td>
                    <td class="student_list__td">Maryna</td>
                    <td class="student_list__td">Украина, г.Харьков, ул.Иванова, д.5, кв.6</td>
                    <td class="student_list__td">M.Shulga</td>
                </tr>
                <tr class="student_list-item">
                    <td class="student-no student_list__td"><a href="student_detail.html">3</a></td>
                    <td class="student_list__td">Polishchuk</td>
                    <td class="student_list__td">Volodymyr</td>
                    <td class="student_list__td">Украина, г.Харьков, ул.Межлаука, д.8, кв.3</td>
                    <td class="student_list__td">V.Polishchuk</td>
                </tr>
                <tr class="student_list-item">
                    <td class="student-no student_list__td"><a href="student_detail.html">4</a></td>
                    <td class="student_list__td">Zhuvanov</td>
                    <td class="student_list__td">Yaroslav</td>
                    <td class="student_list__td">Украина, г.Харьков, ул.Петренко, д.6, кв.9</td>
                    <td class="student_list__td">Y.Zhuvanov</td>
                </tr>
                <tr class="student_list-item">
                    <td class="student-no student_list__td"><a href="student_detail.html">5</a></td>
                    <td class="student_list__td">Ishchenko</td>
                    <td class="student_list__td">Oleg</td>
                    <td class="student_list__td">Украина, г.Харьков, ул.Витязева, д.7, кв.11</td>
                    <td class="student_list__td">O.Ishchenko</td>
                </tr>
            </tbody>
        </table>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>